# This is the git ignore file for ROS2 workspace
# Author: Yuxuan Zhang

# ROS2 Workspace Produced Files
build
install
log

# IDE
.vscode

# Auto Generated Clangd Helper
compile_commands.json
.cache

# Python Runtime Cache
__pycache__

# Virtual Environment
.env

# Unix Sockets
*.socket

# Outputs
var
*.osa
